<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dongduk.cs.ssd.summerpetstore.dao.repository.mapper.AuctionMapper">   
  <cache />
  
	<!-- searchAuciton : 경매 검색-->
	<select id="showAuctionList" resultType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, aname as name, dday, astatus, cname, curMaxPrice 
		FROM auction
		ORDER BY dday ASC
	</select>
	
	
	<select id="searchAuctionByUser" resultType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, aname as name, dday, astatus, cname, curMaxPrice 
		FROM auction
		WHERE sellerInfoId = #{value}
		ORDER BY dday ASC
	</select>
	
	<!-- searchAuciton : 경매 검색 남은 날짜 촉박한순-->
	<select id="searchAuctionByDday" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, dday, astatus, minprice, p.pname, c.cname
		FROM auction a, product p, category c
		<where>
			a.productId = p.productId and p.categoryId = c.categoryId
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="astatus != null">
				AND astatus = #{astatus}
			</if>
			<if test="itemKind != null">
				AND itemKind = #{itemKind}
			</if>
			<if test="cname != null">
				AND c.cname = #{cname};
			</if>
		</where>
		ORDER BY dday
	</select>
	
	<!-- searchAuciton : 경매 검색 인기순(참여자 명수)-->
	<select id="searchAuctionByCon" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, dday, astatus, minprice, p.pname, c.cname
		FROM auction a, product p, category c
		<where>
			a.productId = p.productId and p.categoryId = c.categoryId
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="astatus != null">
				AND astatus = #{astatus}
			</if>
			<if test="itemKind != null">
				AND itemKind = #{itemKind}
			</if>
			<if test="cname != null">
				AND c.cname = #{cname};
			</if>
		</where>
		ORDER BY currentCon DESC
	</select>
	<!-- 완료와 취소됨도 있어야할 것 같긴함 -->
	
	<!-- showInfo : 경매 자세히 보기-->
	<select id="showInfo" parameterType="int" resultType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, aname as name, deadline, dday, adescription as description, astatus, minprice, curMaxPrice, firstId, sellerInfoId, cname 
		FROM auction
		WHERE auctionId = #{auctionId}
	</select>
	
	<!--showJPList : 입찰자 목록(랭킹) 보여주기 (join person)-->
	<select id="showJPList" parameterType="int" resultType="dongduk.cs.ssd.summerpetstore.model.AuctionJPModel">
		SELECT auctionId, offerPrice, userId
		FROM AuctionJP
		WHERE auctionId = #{auctionId}
	</select>
	
	<select id="showInfoAP" resultType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		SELECT auctionId, aname as name, price
		FROM auction
		WHERE cname = #{value}
	</select>
	

	<!-- 경매 등록 -->
	<insert id="registerAuction" parameterType="dongduk.cs.ssd.summerpetstore.controller.AuctionForm" >
		<selectKey keyProperty="auctionId" resultType="int" order="BEFORE">
			SELECT auction_seq.nextval AS auctionid FROM DUAL
		</selectKey>
		INSERT INTO auction (auctionid, aname, deadline, dday, adescription, minprice, curmaxprice, astatus, sellerinfoid, cname)
		VALUES (#{auctionId}, #{name}, to_date(#{deadline}, 'yyyymmdd'), trunc(To_date(#{deadline}, 'yyyymmdd')-sysdate, 0), #{description}, #{minPrice}, #{minPrice}, 'in progress', #{sellerInfoId}, #{cname})
	</insert>
	
	<!--updateAuction : 경매 수정하기-->
	<update id="updateAuction" parameterType="int">
		UPDATE auction
		SET name = #{name}, deadline = #{deadline}, description = #{description}, minPrice = #{minPrice}, astatus = #{astatus}, productId = #{productId}
		WHERE auctionId = #{auctionId}
	</update>

	<!--deleteAuction : 경매 삭제하기-->
	<delete id="deleteAuction" parameterType="int">
		DELETE FROM auction
		WHERE auctionId = #{auctionId}
	</delete>
	
	<!--bid : 입찰하기-->
	<update id="bid" >
		UPDATE auction
		SET firstId=#{param1}, curMaxPrice=#{param2}
		WHERE auctionId=#{param3}
	</update>
	
	
	<insert id="registerPriceAuction" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionJPModel">
		INSERT INTO auctionJP
		VALUES (#{auctionId}, #{offerPrice}, 'tato')
	</insert>
	
	<!--changeFirstId : 다른사람의 입찰로인해 최고가가 바뀔경우 firstId 와 curMaxPrice 수정-->
	<update id="changeFirstId" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		UPDATE auction
		SET firstId = #{firstId}, curMaxPrice=#{curMaxPrice}
		WHERE auctionId = #{auctionId}
	</update>
	
	<!--updateBid : 입찰가 수정-->
	<update id="updateBid" parameterType="int">
		UPDATE auctionJP
		SET offerPrice = #{offerPrice}
		WHERE auctionId = #{auctionId}
	</update>
	
	<!--deleteBid : 입찰 자체 취소-->
	<delete id="deleteBid" parameterType="int">
		DELETE FROM auctionJP
		WHERE auctionId=#{auctionId} and userId=#{userId}
	</delete>
	
	<!-- 입찰취소한 사람이 1등이었을 경우 경매수정 -->
	<update id="updateIfFirst" parameterType="String">
		UPDATE auction
		SET firstId = #{offerPrice}
		WHERE auctionId = #{auctionId}
	</update>
	
	<!--tossSucBid : 낙찰자가 2일안에 결제를 진행하지 않을 시, 자동으로2등 가격을 제시한 사람의 장바구니로 토스됨 -->
	<delete id="deleteFromFirstCart" parameterType="int">
		DELETE FROM cart
		WHERE itemId=#{auctionId} and userId=#{userId}
	</delete>
	
	<insert id="insertToNextCart" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		INSERT INTO cart
		VALUES (#{itemId}, #{itemname}, #{price}, #{userId})
	</insert>
	
	<!--sucBid : 낙찰 경매 종료일이 되면 제일 높은 가격을 제시한 입찰자의 장바구니에 자동으로 담김-->
	<insert id="sucBid" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionModel">
		INSERT INTO cart
		VALUES (#{itemId}, #{itemname}, #{price}, #{userId})
	</insert>
	
	
	<!--sucBid : 낙찰 경매 종료일이 되면 제일 높은 가격을 제시한 입찰자의 장바구니에 자동으로 담김-->
	<select id="getFirstPrice" parameterType="int">
		SELECT curMaxPrice
		FROM Auction
		WHERE auctionId=#{auctionId}
	</select>
	
	
	<update id="updateinfoBID" parameterType="dongduk.cs.ssd.summerpetstore.model.AuctionJPModel">
		UPDATE auction
		SET curmaxprice = #{offerPrice}, firstId = #{userId}
		WHERE auctionId = #{auctionId}
	</update>

</mapper>