<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.cs.ssd.summerpetstore.dao.repository.mapper.UserMapper">
  <cache />

  <select id="getUserByUsername" resultType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    SELECT *
    FROM suser 
    WHERE userid = #{param1} 
    
  </select>

  <select id="getUserByUsernameAndPassword" resultType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    SELECT *
    FROM suser u, signon s
    WHERE userid=#{param1} and password=#{param2} and s.userid = u.userid
  </select>
  
  <select id="getUserById" resultType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    SELECT *
    FROM suser u
    WHERE userid=#{param1} and password = #{param2}
  </select>

  <select id="getUsernameList" resultType="java.lang.String">
    SELECT USERNAME AS VALUE FROM SIGNON
  </select>

  <update id="updateUser" parameterType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    UPDATE suser SET
      EMAIL = #{email},
      username = #{username},
      address = #{address},
      PHONE = #{phone}
    WHERE USERID = #{userId}
  </update>

  <insert id="insertUser" parameterType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    INSERT INTO suser
    VALUES (#{userId}, #{username}, #{password}, #{email}, #{address}, #{phone})
  </insert>


	<delete id="deleteUser" >
		DELETE FROM suser
		WHERE USERID = #{param1}
		
	</delete>
	
	<select id="getUserIdtoPw" resultType = "java.lang.String">
		SELECT password
		FROM suser
		WHERE USERID = #{param1}
	</select>


  <update id="updateSignon" parameterType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERNAME = #{userid}
  </update>

  <insert id="insertSignon" parameterType="dongduk.cs.ssd.summerpetstore.model.UserModel">
    INSERT INTO SIGNON (PASSWORD,USERNAME)
    VALUES (#{password}, #{userId})
  </insert>
</mapper>